<section id="resume" name="resume">
  <!--EDUCATION DESCRIPTION -->
  <div class="container desc">
    <div class="row">

      <div class="col-lg-2 col-lg-offset-1">
        <h5>EDUCATION</h5>
      </div>
      <div class="col-lg-6">
        <p class="t">
          Master of Web Design<br/> St. Patrick University <br/>
          <i>3 Years Course</i>
        </p>
      </div>
      <div class="col-lg-3">
        <p class="sm">
          GRADUATING IN MAY 2014
          <br/>
          <span class="imp">IN PROGRESS</span>
        </p>
      </div>

      <div class="col-lg-6 col-lg-offset-3">
        <p class="t">
          Degree of Web Developer
          <br/> Hastings University <br/>
          <i>2 Years Course</i>
        </p>
      </div>
      <div class="col-lg-3">
        <p class="sm">
          JUNE 2012
        </p>
      </div>

    </div>
    <!--/.row -->
    <br>
    <hr>
  </div>
</section>


<!--WORK DESCRIPTION -->
<div class="container desc">
  <div class="row">

    <div class="col-lg-2 col-lg-offset-1">
      <h5>WORK</h5>
    </div>
    <div class="col-lg-6">
      <p class="t">
        Front-end Developer<br/> Example Corp. <br/>
      </p>
      <p class="more">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
        a galley of type and scrambled it to make a type specimen book.
      </p>
    </div>
    <div class="col-lg-3">
      <p class="sm">
        AUGUST 2012 - CURRENT
      </p>
    </div>

    <div class="col-lg-6 col-lg-offset-3">
      <p class="t">
        Web Designer - Intern<br/> Onassis Ltd. <br/>
      </p>
      <p class="more">
        Lorem Ipsum is simply dummy text of the printing
        and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer
        took a galley of type and scrambled it to make a type specimen book.
      </p>
    </div>
    <div class="col-lg-3">
      <p class="sm">
        JUNE 2010 - JULY 2012
      </p>
    </div>
  </div>
  <!--/.row -->
  <br>
  <hr>
</div>


<!--AWARDS DESCRIPTION -->
<div class="container desc">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <h5>AWARDS</h5>
    </div>
    <div class="col-lg-6">
      <p class="t">
        Best Web Design
        <br/> Example Site <br/>
      </p>
    </div>
    <div class="col-lg-3">
      <p class="sm">
        NOVEMBER 2013
      </p>
    </div>

    <div class="col-lg-6 col-lg-offset-3">
      <p class="t">
        Designer of the Year
        <br/> Awwwards Site
      </p>
      <p class="more">
        Lorem Ipsum is simply dummy text of the
        printing and typesetting industry. Lorem Ipsum
        has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book.
      </p>
    </div>
    <div class="col-lg-3">
      <p class="sm">
        2013
      </p>
    </div>

  </div>
  <!--/.row -->
  <br>
</div>



