<section id="resume" class="resume-section section-padding">
  <div class="container">
    <h2 class="section-title wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">Mon parcours</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="resume-title">
          <h3>Mes expériences</h3>
        </div>

        <div class="resume">
          <ul class="timeline">

            <li>
              <div class="posted-date">
                <span class="month">Juillet 2019 - Aujourd'hui</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Product Owner Omnicanal - Happychic</h3>
                    <span>Mission mandat Atecna</span>
                  </div><!-- /timeline-heading -->

                  <div class="timeline-body">
                    <p>En charge de la digitalisation des points
                      de vente (magasins Jules, Brice et Bizsbee),
                      je travaille actuellement l'intégration d'un paiement en mobilité en magasin (Jules, Brice et Bizzbee) et
                      aussi sur la mise en place d’un test pour un parcours “Scan and Pay”. </p>
                  </div><!-- /timeline-body -->
                </div> <!-- /timeline-content -->
              </div><!-- /timeline-panel -->
            </li>

            <li class="timeline-inverted">
              <div class="posted-date">
                <span class="month">Avril - Mai 2019</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Product Owner - ADEO Services</h3>
                    <span>Mission mandat Atecna (14 mois)</span>
                  </div><!-- /timeline-heading -->

                  <div class="timeline-body">
                    <p>En tant que Product Owner chez ADEO Services, mon objectif était de maximiser la valeur du produit développé. Mon rôle de PO consistait
                      à recueillir, puis challenger le besoin (interne / externe). J'ai entrepris la création et le maintien du Product Backlog. J'avais
                      pour mission de determiner la business-value, de rédiger les user-stories et de les prioriser, puis de m'assurer que chaque incrément produit est créateur de valeur.
                      En complément du rôle de Product Owner, j'étais en charge de la définition et de l'application du plan de taggage</p>
                  </div><!-- /timeline-body -->
                </div> <!-- /timeline-content -->
              </div> <!-- /timeline-panel -->
            </li>

            <li>
              <div class="posted-date">
                <span class="month">Février - Mars 2018</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Responsable Moteur de recherche Interne - Leroy Merlin</h3>
                    <span>Mission mandat Atecna (2 mois)</span>
                  </div><!-- /timeline-heading -->

                  <div class="timeline-body">
                    <p>Ma mission chez Leroy Merlin France consistait à optimiser le moteur de recherche interne du site leroymerlin.fr.
                      J'ai réalisé plusieurs actions pour améliorer la pertinence de ce dernier, comme la création de
                      landing pages (porte, radiateur,...), l'évolution du thésaurus,
                      l'optimisation du taux de sorties suite à une recherche et le recueil des besoins (optimisations front-end). </p>
                  </div><!-- /timeline-body -->
                </div> <!-- /timeline-content -->
              </div><!-- /timeline-panel -->
            </li>
            <li class="timeline-inverted">
              <div class="posted-date">
                <span class="month">Octobre-Janvier 2018</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Chef de projet AMOA - Nocibé</h3>
                    <span>Mission Mandat Atecna (4 mois)</span>
                  </div><!-- /timeline-heading -->

                  <div class="timeline-body">
                    <p>Rattaché à l'équipe e-commerce, j'ai été chargé de la refonte du ranking pour l'ensemble des
                      pages listes du site nocibe.fr et j'ai contribué au passage du site en responsive design. </p>
                  </div><!-- /timeline-body -->
                </div> <!-- /timeline-content -->
              </div> <!-- /timeline-panel -->
            </li>

            <li>
              <div class="posted-date">
                <span class="month">2016-2017</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Chef de projet AMOA Junior - Auchan Retail</h3>
                    <span>Alternance (12 mois)</span>
                  </div><!-- /timeline-heading -->

                  <div class="timeline-body">
                    <p>Rattaché à l'équipe web marketing, j'ai participé à toutes les phases projet : étude des besoins, benchmark, conception des dispositifs interactifs, rédaction des spécifications fonctionnelles, rédaction des scenarii de recette, validation et mise en ligne.</p>
                  </div><!-- /timeline-body -->
                </div> <!-- /timeline-content -->
              </div><!-- /timeline-panel -->
            </li>

          </ul>
          <ul class="timeline">
            <li class="timeline-inverted">
              <div class="posted-date">
                <span class="month">Avril - Juillet 2016</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Trafic Manager - Dayinday</h3>
                    <span>Stage (4 mois) - Agence SEA, Lille</span>
                  </div><!-- /timeline-heading -->

                  <div class="timeline-body">
                    <p>Gestion de campagnes AdWords, Google Shopping, pige concurentielle et reportings pour de grands comptes (Happychic, Schmidt, Bébé Confort, ...)</p>
                  </div><!-- /timeline-body -->
                </div> <!-- /timeline-content -->
              </div> <!-- /timeline-panel -->
            </li>

            <li>
              <div class="posted-date">
                <span class="month">Avril - déc 2013</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Chargé e-commerce - Elosi</h3>
                    <span>Stage (9 mois) - SSII Elosi, Roubaix</span>
                  </div><!-- /timeline-heading -->

                  <div class="timeline-body">
                    <p>J'ai été chargé de la refonte du site elosi.fr et j'ai travaillé sur l'élaboration d'une stratégie webmarketing pour le site cotevolet.fr : Optimisation du site, intégration d'un catalogue produits sur différentes marketplaces (Amazon, Cdiscount, Rue du commerce).</p>
                  </div><!-- /timeline-body -->
                </div> <!-- /timeline-content -->
              </div><!-- /timeline-panel -->
            </li>

          </ul>
        </div>
      </div>
    </div><!-- /row -->
    <div class="row">
      <div class="col-md-12">
        <div class="resume-title">
          <br>
          <br>
          <h3>Mes formations</h3>
        </div>
        <div class="resume">
          <ul class="timeline">
            <li>
              <div class="posted-date">
                <span class="month">2015-2017</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Master Digital Commerce</h3>
                    <span>Université Cahtolique de Lille - France</span>
                  </div><!-- /timeline-heading -->

                  <div class="timeline-body">
                    <p>Ce master a été construit et se développe en partenariat avec des entreprises.
                      Il permet d'acquérir une double compétences : en technique (langages de programmation) et
                      en Webmarketing</p>
                  </div><!-- /timeline-body -->
                </div> <!-- /timeline-content -->
              </div><!-- /timeline-panel -->
            </li>

            <li class="timeline-inverted">
              <div class="posted-date">
                <span class="month">2014-2015</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Programme Gap Year</h3>
                    <span>Griffith College Dublin, Irlande.</span>
                  </div><!-- /timeline-heading -->

                  <div class="timeline-body">
                    <p>Le programme Gap Year s'adresse aux étudiants étrangers souhaitant parfaire leurs connaissances
                      d'un domaine, dans la langue de Shakespeare. Il m'a permis de suivre des cours professionnalisant
                      dans le domaine de l'e-commerce.</p>
                  </div><!-- /timeline-body -->
                </div> <!-- /timeline-content -->
              </div> <!-- /timeline-panel -->
            </li>

            <li>
              <div class="posted-date">
                <span class="month">2010-2013</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Bachelor e-commerce</h3>
                    <span>Isefac Lille, France</span>
                  </div><!-- /timeline-heading -->

                  <div class="timeline-body">
                    <p>Ce Bachelor permet d'acquérir en 3 ans, un BTS Mangement des Unités Commerciales et un Bachelor en e-commerce(certifié niveau II par l'état). </p>
                  </div><!-- /timeline-body -->
                </div> <!-- /timeline-content -->
              </div><!-- /timeline-panel -->
            </li>
          </ul>
        </div>
      </div>
    </div><!-- /row -->
  </div><!-- /.container -->
</section>

<!--<section class="bg-white" id="resume" name="resume">-->

<!--<section class="bg-white">-->
<!--<div class="container desc bg-white">-->
<!--  <div class="row">-->

<!--    <div class="col-lg-2 col-lg-offset-1">-->
<!--      <h5>WORK</h5>-->
<!--    </div>-->
<!--    <div class="col-lg-6">-->
<!--      <p class="t">-->
<!--        Front-end Developer<br/> Example Corp. <br/>-->
<!--      </p>-->
<!--      <p class="more">-->
<!--        Lorem Ipsum is simply dummy text of the printing and typesetting industry.-->
<!--        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took-->
<!--        a galley of type and scrambled it to make a type specimen book.-->
<!--      </p>-->
<!--    </div>-->
<!--    <div class="col-lg-3">-->
<!--      <p class="sm">-->
<!--        AUGUST 2012 - CURRENT-->
<!--      </p>-->
<!--    </div>-->

<!--    <div class="col-lg-6 col-lg-offset-3">-->
<!--      <p class="t">-->
<!--        Web Designer - Intern<br/> Onassis Ltd. <br/>-->
<!--      </p>-->
<!--      <p class="more">-->
<!--        Lorem Ipsum is simply dummy text of the printing-->
<!--        and typesetting industry. Lorem Ipsum has been the industry's-->
<!--        standard dummy text ever since the 1500s, when an unknown printer-->
<!--        took a galley of type and scrambled it to make a type specimen book.-->
<!--      </p>-->
<!--    </div>-->
<!--    <div class="col-lg-3">-->
<!--      <p class="sm">-->
<!--        JUNE 2010 - JULY 2012-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->
<!--  &lt;!&ndash;/.row &ndash;&gt;-->
<!--  <br>-->
<!--  <hr>-->
<!--</div>-->
<!--</section>-->

<!--&lt;!&ndash;AWARDS DESCRIPTION &ndash;&gt;-->
<!--<section class="bg-white">-->
<!--<div class="container desc container desc">-->
<!--  <div class="row">-->
<!--    <div class="col-lg-2 col-lg-offset-1">-->
<!--      <h5>AWARDS</h5>-->
<!--    </div>-->
<!--    <div class="col-lg-6">-->
<!--      <p class="t">-->
<!--        Best Web Design-->
<!--        <br/> Example Site <br/>-->
<!--      </p>-->
<!--    </div>-->
<!--    <div class="col-lg-3">-->
<!--      <p class="sm">-->
<!--        NOVEMBER 2013-->
<!--      </p>-->
<!--    </div>-->

<!--    <div class="col-lg-6 col-lg-offset-3">-->
<!--      <p class="t">-->
<!--        Designer of the Year-->
<!--        <br/> Awwwards Site-->
<!--      </p>-->
<!--      <p class="more">-->
<!--        Lorem Ipsum is simply dummy text of the-->
<!--        printing and typesetting industry. Lorem Ipsum-->
<!--        has been the industry's standard dummy text ever-->
<!--        since the 1500s, when an unknown printer took a-->
<!--        galley of type and scrambled it to make a type specimen book.-->
<!--      </p>-->
<!--    </div>-->
<!--    <div class="col-lg-3">-->
<!--      <p class="sm">-->
<!--        2013-->
<!--      </p>-->
<!--    </div>-->

<!--  </div>-->
<!--  &lt;!&ndash;/.row &ndash;&gt;-->
<!--  <br>-->
<!--</div>-->
<!--</section>-->


<!--  &lt;!&ndash;EDUCATION DESCRIPTION &ndash;&gt;-->
<!--  <div class="container desc bg-white">-->
<!--    <div class="row">-->

<!--      <div class="col-lg-2 col-lg-offset-1">-->
<!--        <h5>EDUCATION</h5>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <p class="t">-->
<!--          Master of Web Design<br/> St. Patrick University <br/>-->
<!--          <i>3 Years Course</i>-->
<!--        </p>-->
<!--      </div>-->
<!--      <div class="col-lg-3">-->
<!--        <p class="sm">-->
<!--          GRADUATING IN MAY 2014-->
<!--          <br/>-->
<!--          <span class="imp">IN PROGRESS</span>-->
<!--        </p>-->
<!--      </div>-->

<!--      <div class="col-lg-6 col-lg-offset-3">-->
<!--        <p class="t">-->
<!--          Degree of Web Developer-->
<!--          <br/> Hastings University <br/>-->
<!--          <i>2 Years Course</i>-->
<!--        </p>-->
<!--      </div>-->
<!--      <div class="col-lg-3">-->
<!--        <p class="sm">-->
<!--          JUNE 2012-->
<!--        </p>-->
<!--      </div>-->

<!--    </div>-->
<!--    &lt;!&ndash;/.row &ndash;&gt;-->
<!--    <br>-->
<!--    <hr>-->
<!--  </div>-->
<!--</section>-->
