<section id="parcours" class="resume-section section-padding" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <h2 class="section-title wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">Mon parcours</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="resume-title">
          <h3>Mes expériences</h3>
        </div>

        <div class="resume">
          <ul class="timeline">
            <li>
              <div class="posted-date">
                <span class="month">Date</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp animated accordion accordion-flush" id="accordionFlushExample1" style="visibility: visible; animation-name: fadeInUp;">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>titre poste</h3>
                    <span>Job</span>
                  </div><!-- /timeline-heading -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne1">
                      <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne1" aria-expanded="false" aria-controls="flush-collapseOne">
                        Description mission
                      </button>
                    </h2>
                  <div class="text-start timeline-body accordion-collapse collapse" id="flush-collapseOne1">
                    <p class="text-start"> </p>
                    <p class="text-start fw-bold">Description de mes tâches:</p>
                    <p class="text-start fw-bold"> </p>
                    <div>
                        <ul class="text-start">
                          <li>descrition </li>
                        </ul>
                    </div>
                    <p class="text-start fw-bold"> </p>
                    <ul class="text-start">
                      <li>description</li>
                    </ul>
                  </div><!-- /timeline-body -->
                </div> <!-- /timeline-content -->
              <!-- /timeline-panel -->
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="posted-date">
                <span class="month">date</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp animated accordion accordion-flush" id="accordionFlushExample2" style="visibility: visible; animation-name: fadeInUp;">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>job</h3>
                    <span>name</span>
                  </div><!-- /timeline-heading -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne2">
                       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne2" aria-expanded="false" aria-controls="flush-collapseOne">
                           Description mission
                       </button>
                    </h2>
                  <div class="timeline-body accordion-collapse collapse" id="flush-collapseOne2">
                    <p>description</p>
                    <p class="text-start fw-bold">Description de mes tâches:</p>
                    <p class="text-start fw-bold">description</p>
                    <div>
                      <ul class="text-start">
                        <li>description</li>
                      </ul>
                    </div>
                    <p class="text-start fw-bold">description</p>
                    <ul class="text-start">
                      <li>description/li>
                    </ul>
                  </div><!-- /timeline-body -->
                </div> <!-- /timeline-content -->
              </div> <!-- /timeline-panel -->
              </div>
            </li>

            <li>
            <!--Swisslife-->
              <div class="posted-date">
                <span class="month">date</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp animated accordion accordion-flush" id="accordionFlushExample3" style="visibility: visible; animation-name: fadeInUp;">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>name</h3>
                    <span>titre</span>
                  </div><!-- /timeline-heading -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne3">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne3" aria-expanded="false" aria-controls="flush-collapseOne">
                        Description mission
                      </button>
                    </h2>
                  <div class="timeline-body accordion-collapse collapse" id="flush-collapseOne3">
                    <p class="text-start">decription </p>
                    <p class="text-start fw-bold">Description de mes tâches:</p>
                    <div>
                      <ul class="text-start">
                        <li>description</li>
                      </ul>
                    </div>
                  </div><!-- /timeline-body -->
                </div> <!-- /timeline-content -->
              </div><!-- /timeline-panel -->
              </div>
            </li>
            <!--weka-->
            <li class="timeline-inverted">
              <div class="posted-date">
                <span class="month">date</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp animated accordion accordion-flush" id="accordionFlushExample4" style="visibility: visible; animation-name: fadeInUp;">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>name</h3>
                    <span>job</span>
                  </div><!-- /timeline-heading -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne4">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne4" aria-expanded="false" aria-controls="flush-collapseOne">
                        Description mission
                      </button>
                    </h2>
                  <div class="timeline-body accordion-collapse collapse" id="flush-collapseOne4">
                    <p class="text-start fw-bold">Contexte client</p>
                    <p>context</p>
                    <ul class="text-start">
                      <li>context</li>
                    </ul>
                    <p class="text-start fw-bold">Description de mes tâches:</p>
                    <div>
                      <p class="text-start fw-bold">description </p>
                      <ul class="text-start">
                        <li>description </li>
                      </ul>
                    </div>
                    <div>
                      <p class="text-start fw-bold">description </p>
                      <ul class="text-start">
                        <li>description</li>
                      </ul>
                    </div>

                  </div><!-- /timeline-body -->
                </div> <!-- /timeline-content -->
              </div> <!-- /timeline-panel -->
              </div>
            </li>

            <li>
              <div class="posted-date">
                <span class="month">Date</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp animated accordion accordion-flush" id="accordionFlushExample5" style="visibility: visible; animation-name: fadeInUp;">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>nom -titre</h3>
                    <span>Alternance (12 mois)</span>
                  </div><!-- /timeline-heading -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne5">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne5" aria-expanded="false" aria-controls="flush-collapseOne">
                        Description mission
                      </button>
                    </h2>
                  <div class="timeline-body accordion-collapse collapse" id="flush-collapseOne5">
                    <p class="text-start fw-bold">Contexte client</p>
                    <p class="text-start"></p>
                    <p class="text-start fw-bold">Equipe</p>
                    <ul class="text-start">
                      <li> Team </li>
                    </ul>
                    <p class="text-start fw-bold">Description de mes tâches:</p>
                    <div>
                      <ul class="text-start">
                        <li>Descrition</li>
                      </ul>
                    </div>
                  </div><!-- /timeline-body -->

                </div> <!-- /timeline-content -->
              </div><!-- /timeline-panel -->
              </div>
            </li>

          </ul>

          <ul class="timeline">
            <li class="timeline-inverted">
              <div class="posted-date">
                <span class="month"></span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp animated accordion accordion-flush" id="accordionFlushExample11" style="visibility: visible; animation-name: fadeInUp;">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3></h3>
                    <span>Stage (4 mois) - Agence SEA, Lille</span>
                  </div><!-- /timeline-heading -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne11">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne11" aria-expanded="false" aria-controls="flush-collapseOne">
                        Description mission
                      </button>
                    </h2>

                  <div class="timeline-body accordion-collapse collapse" id="flush-collapseOne11">
                    <p class="text-start fw-bold">Contexte client</p>
                    <p></p>
                    <p class="text-start fw-bold">Equipe</p>
                    <p></p>
                    <p class="text-start fw-bold">Description de mes tâches:</p>
                    <div>
                      <ul class="text-start">
                        <li></li>
                      </ul>
                    </div>
                  </div><!-- /timeline-body -->
                </div> <!-- /timeline-content -->
              </div> <!-- /timeline-panel -->
              </div>
            </li>

            <li>
              <div class="posted-date">
                <span class="month">Avril - déc 2013</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp animated accordion accordion-flush" id="accordionFlushExample7" style="visibility: visible; animation-name: fadeInUp;">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Chargé e-commerce - Elosi</h3>
                    <span>Stage (9 mois) - SSII Elosi, Roubaix</span>
                  </div><!-- /timeline-heading -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne7">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne7" aria-expanded="false" aria-controls="flush-collapseOne">
                        Description mission
                      </button>
                    </h2>

                  <div class="timeline-body accordion-collapse collapse" id="flush-collapseOne7">
                    <p class="text-start fw-bold">Description de mes tâches:</p>
                    <div>
                      <p class="text-start fw-bold"></p>
                      <ul class="text-start">
                        <li></li>
                      </ul>
                    </div>
                  </div><!-- /timeline-body -->
                </div> <!-- /timeline-content -->
              </div><!-- /timeline-panel -->
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div><!-- /row -->
    <div class="row">
      <div class="col-md-12">
        <div class="resume-title">
          <br>
          <br>
          <h3>Mes formations</h3>
        </div>
        <div class="resume">
          <ul class="timeline">
            <li>
              <div class="posted-date">
                <span class="month">2015-2017</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp animated animated accordion accordion-flush" id="accordionFlushExample8" style="visibility: visible; animation-name: fadeInUp;">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Master Digital Commerce</h3>
                    <span>Université Cahtolique de Lille - France</span>
                  </div><!-- /timeline-heading -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne8">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne8" aria-expanded="false" aria-controls="flush-collapseOne">
                        Description mission
                      </button>
                    </h2>

                  <div class="timeline-body accordion-collapse collapse" id="flush-collapseOne8">
                    <p>Ce master a été construit et se développe en partenariat avec des entreprises.
                      Il permet d'acquérir une double compétences : en technique (langages de programmation) et
                      en Webmarketing</p>
                  </div><!-- /timeline-body -->
                </div> <!-- /timeline-content -->
              </div><!-- /timeline-panel -->
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="posted-date">
                <span class="month">2014-2015</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp animated accordion accordion-flush" id="accordionFlushExample9" style="visibility: visible; animation-name: fadeInUp;">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Programme Gap Year</h3>
                    <span>Griffith College Dublin, Irlande.</span>
                  </div><!-- /timeline-heading -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne9">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne9" aria-expanded="false" aria-controls="flush-collapseOne">
                        Description mission
                      </button>
                    </h2>

                    <div class="timeline-body accordion-collapse collapse" id="flush-collapseOne9">
                      <p>Le programme Gap Year s'adresse aux étudiants étrangers souhaitant parfaire leurs connaissances
                        d'un domaine, dans la langue de Shakespeare. Il m'a permis de suivre des cours professionnalisant
                        dans le domaine de l'e-commerce.</p>
                    </div><!-- /timeline-body -->
                  </div> <!-- /timeline-content -->
                </div> <!-- /timeline-panel -->
              </div>
            </li>

            <li>
              <div class="posted-date">
                <span class="month">2010-2013</span>
              </div><!-- /posted-date -->

              <div class="timeline-panel wow fadeInUp animated accordion accordion-flush" id="accordionFlushExample10" style="visibility: visible; animation-name: fadeInUp;">
                <div class="timeline-content">
                  <div class="timeline-heading">
                    <h3>Bachelor e-commerce</h3>
                    <span>Isefac Lille, France</span>
                  </div><!-- /timeline-heading -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne10">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne10" aria-expanded="false" aria-controls="flush-collapseOne">
                        Description mission
                      </button>
                    </h2>

                    <div class="timeline-body accordion-collapse collapse" id="flush-collapseOne10">
                      <p>Ce Bachelor permet d'acquérir en 3 ans, un BTS Mangement des Unités Commerciales et un Bachelor en e-commerce(certifié niveau II par l'état). </p>
                    </div><!-- /timeline-body -->
                  </div> <!-- /timeline-content -->
                </div><!-- /timeline-panel -->
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div><!-- /row -->
  </div><!-- /.container -->
</section>
