<section id="about" class="about-section section-padding">
  <div class="container">
    <h2 class="section-title wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">Profil</h2>

    <div class="row">

      <div class="col-md-4 col-md-push-8">
        <div class="biography">
          <div class="myphoto">
          </div>
          <img class="w-75" src="assets/mon_avatar.png">
          <ul>
            <li><strong>Nom :</strong> {{data.firstName}}</li>
            <li><strong>Âge :</strong> {{data.age}}</li>
            <li><strong>Lieu d'activité : </strong>{{data.lieuDactivite}}</li>
            <li><strong>Email:</strong>{{data.email}}</li>
          </ul>
        </div>
      </div> <!-- col-md-4 -->

      <div class="col-md-8 col-md-pull-4">
        <div class="short-info wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
          <h3>Description Synthètique</h3>
          <p>{{data.presentationGeneral}}
            <br>
           </p>
          <p>{{data.presentaionSuite}}
            <br>
          </p>
          <p>{{data.presentation}}
            <br>
          </p>
          <h3> Mes PRINCIPAUX ATOUTS : </h3>
          <ul class="list-check">
            <li>{{data.principauxAtouts1}}</li>
            <li>{{data.principauxAtouts2}}</li>
            <li>{{data.principauxAtouts3}}</li>
            <li>{{data.principauxAtouts4}}</li>
          </ul>
        </div>

        <div class="my-signature">
          <br>
        </div>
        <br>
        <div class="download-button">
          <a class="btn btn-primary btn-lg mx-2" href="#contact"><i class="fa fa-paper-plane"></i>Envoyez-moi un message</a>
          <a class="btn btn-primary btn-lg" href="assets/images/Atecna_Pierre_Hourlier_Avril_2019.pdf"><i class="fa fa-download"></i>Télécharger mon CV</a>
        </div>
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section>
