<body data-spy="scroll" data-offset="64" data-target="#section-topbar">
<section id="about" name="about">
  <div id="intro">
    <div class="container">
      <div class="row">

        <div class="col-lg-2 col-lg-offset-1">
          <h5>ABOUT</h5>
        </div>
        <div class="col-lg-7">
          <p>I'm web designer & front-end developer with 7 years of professional experience. I'm interested in all kinds of visual communication, but my major focus is on designing web, mobile & tablet interfaces. I also have skills in other fields like
            branding, icon design or web development.</p>
        </div>
        <div class="col-lg-3">
          <p class="sm"><a href="#"><i class="icon-file"></i></a>
            <img class="border border-1 w-75 p-1" src="assets/mon_avatar.png">
          </p>
        </div>

      </div>
      <!--/.row -->
    </div>
    <!--/.container -->
  </div>
  <!--/ #intro -->
</section>
</body>
