<section id="contact" name="contact">
  <!--FOOTER DESCRIPTION -->
  <div id="footwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <h5>CONTACT</h5>
        </div>
        <div class="col-lg-4">
          <p class="t">
            Email
            <br/> contact@example.com <br/>
          </p>
          <p class="t">
            Adress<br/> Some Ave. 987 <br/> Postal 23892 <br/> London, England. <br/>
          </p>
          <p class="t">
            Phone<br/> +55 8933-2383 <br/>
          </p>
          <p>
            Social Links
            <br/>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-apple"></i></a>
          </p>
        </div>
        <div class="col-lg-6">
          <p class="sm">
            CONTACT FORM
          </p>
          <form class="contact-form php-mail-form" role="form" action="contactform/contactform.php" method="POST">

            <div class="form-group">
              <label for="contact-name">Your Name</label>
              <input type="name" name="name" class="form-control" id="contact-name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <label for="contact-email">Your Email</label>
              <input type="email" name="email" class="form-control" id="contact-email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <label for="contact-subject">Subject</label>
              <input type="text" name="subject" class="form-control" id="contact-subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
              <div class="validate"></div>
            </div>

            <div class="form-group">
              <label for="contact-message">Your Message</label>
              <textarea class="form-control" name="message" id="contact-message" placeholder="Your Message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
              <div class="validate"></div>
            </div>

            <div class="loading"></div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>

            <div class="form-send">
              <button type="submit" class="btn btn-large">Send Message</button>
            </div>

          </form>
        </div>
      </div>
      <!--/.row -->
    </div>
    <!--/.container -->
  </div>
  <!--/ #footer -->
</section>
