<section id="skills" class="mb-5 skills-section section-padding">
  <div class="container mt-3">
    <h2 class="mt-5 section-title wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">Compétences</h2>
    <div class="row ">
      <div class="col-md-6">
        <div class="skill-progress">
          <div class="skill-title"><h3>Gestion projets</h3></div>
          <div class="progress">
            <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span>80%</span>
            </div>
          </div><!-- /.progress -->
        </div><!-- /.skill-progress -->

        <div class="skill-progress">
          <div class="skill-title"><h3>Méthodes Agile</h3></div>
          <div class="progress">
            <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"><span>70%</span>
            </div>
          </div><!-- /.progress -->
        </div><!-- /.skill-progress -->

        <div class="skill-progress">
          <div class="skill-title"><h3>Webmarketing</h3></div>
          <div class="progress">
            <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span>60%</span>
            </div>
          </div><!-- /.progress -->
        </div><!-- /.skill-progress -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-6">
        <div class="skill-progress">
          <div class="skill-title"><h3>Sensibilité UX</h3></div>
          <div class="progress">
            <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span>80%</span>
            </div>
          </div><!-- /.progress -->
        </div><!-- /.skill-progress -->

        <div class="skill-progress">
          <div class="skill-title"><h3>webanalytics</h3></div>
          <div class="progress">
            <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span>80%</span>
            </div>
          </div><!-- /.progress -->
        </div><!-- /.skill-progress -->


        <div class="skill-progress">
          <div class="skill-title">
            <h3>Anglais</h3>
          </div>
          <div class="progress">
            <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"><span>90%</span>
            </div>
          </div><!-- /.progress -->
        </div><!-- /.skill-progress -->
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
    <br>
    <div class="skill-chart text-center">
      <h3>Compétences transverses</h3>
    </div>

    <div class="row more-skill text-center">
      <div class="col-xs-12 col-sm-4 col-md-2 mb-5">
        <div class="chart"  data-percent="90" data-color="e74c3c">
          <span class="percent">90</span>
          <div class="chart-text">
            <span>Rigueur &amp; organisation</span>
          </div>
          <canvas height="140" width="140" class="rounded-circle circlebar" ></canvas></div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="chart " data-percent="80" data-color="2ecc71">
          <span class="percent">80</span>
          <div class="chart-text">
            <span>Esprit d'analyse</span>
          </div>
          <canvas height="140" width="140" class="rounded-circle circlebar"></canvas></div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="chart" data-percent="70" data-color="3498db">
          <span class="percent">70</span>
          <div class="chart-text">
            <span>Leadership &amp; management</span>
          </div>
          <canvas height="140" width="140" class="rounded-circle circlebar"></canvas></div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="chart" data-percent="80" data-color="3498db">
          <span class="percent">80</span>
          <div class="chart-text">
            <span>Sens de l'innovation</span>
          </div>
          <canvas height="140" width="140" class="rounded-circle circlebar"></canvas></div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="chart" data-percent="80" data-color="3498db">
          <span class="percent">80</span>
          <div class="chart-text">
            <span>Adaptabilité &amp; flexibilité</span>
          </div>
          <canvas height="140" width="140" class="rounded-circle circlebar"></canvas></div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="chart" data-percent="80" data-color="3498db">
          <span class="percent">80</span>
          <div class="chart-text">
            <span>Communication</span>
          </div>
          <canvas height="140" width="140" class="rounded-circle circlebar mb-3" ></canvas></div>
      </div>
    </div>

  </div><!-- /.container -->
</section>
