<section id="home" class="tt-overlay-bg-home">
<div class=" madin">
    <div class="py-5 text-center border border-4 rounded-2">
      <h1 class="display-4 font-weight-bold margin">{{data.firstName}}</h1>
      <p class="font-italic mb-0">{{data.titlePoste}}</p>
      <p class="font-italic">{{data.technoPoste}}</p>
      <i class="fa fa-google-plus-circle mx-2 fa-2x" aria-hidden="true"></i>
      <i class="fa fa-git-square mx-2 fa-2x" aria-hidden="true"></i>
      <i class="fa fa-linkedin-square mx-2 fa-2x" aria-hidden="true"></i>
      <i class="fa fa-facebook-square mx-2 fa-2x" aria-hidden="true"></i>
    </div>
</div>
</section>
