.size-flag{
  width: 2%;
  left: 95%;
}
.size-flag-fr{
  width: 2%;
  left: 92%;
}


.centered {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.madin {
  margin: 17%;
}
