<div class=" madin" >
<!--  <img src="assets/united-kingdom.png" class="mt-3 size-flag position-absolute" alt="...">-->
<!--  <img src="assets/france.png" class="mt-3 position-absolute size-flag-fr" alt="...">-->
    <div class="py-5 text-center border border-4 rounded-2">
      <h1 class="display-4 font-weight-bold margin">zina Boukercha</h1>
      <p class="font-italic mb-0">Ingénieur FullStack</p>
      <p class="font-italic">Spring / Angular</p>
      <i class="fa fa-google-plus-circle mx-2 fa-2x" aria-hidden="true"></i>
      <i class="fa fa-git-square mx-2 fa-2x" aria-hidden="true"></i>
      <i class="fa fa-linkedin-square mx-2 fa-2x" aria-hidden="true"></i>
      <i class="fa fa-facebook-square mx-2 fa-2x" aria-hidden="true"></i>
  </div>
</div>
